.title-input{
    font-weight: 700;
}

.container-input{
    display: flex;
    margin-bottom: 0.3rem;
}

.container-input:last-of-type{
    margin-bottom: 0;
}

.radio-input{
    cursor: pointer;
    margin-left: 0;
}

.text{
    cursor: pointer;
    margin: 0;
}

.input{
    margin-left: 5px;
}

.checkbox-input{
    cursor: pointer;
}